*./vs
/Project/VisualStudio/.vs
/samples/.vscode
/samples/VisualStudio/.vs
*.obj
*.exe
*.dll
*.lib
*.bak

/makeDLL/.vs
/makeDLL/makeDLL
/testDLL/.vs
/testDLL/.vs
/makeDLL/x64
/testDLL/.vs
/testDLL/testDLL
/testDLL/.vs
